<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <title> All challenges</title>
    </head>
    <body>
        <ul>
            {% for month in data%}
            {% comment %}
            option 1: hardcode the pattern
             <li><a href=/challenges/{{month}}>{{month|title}}</a></li> 
            option 2: use the url tag: {{%url <name of the path name> <args for that path>%}}
            {% endcomment %}
            <li><a href={{%url month-challenge month%}}>{{month|title}}</a></li>
            {% endfor %}
        </ul>
     
        

    </body>
</html>